body{
    justify-content: center;
}
.input-search{
    margin-left: 700px;
  }
  .navbar{
background-image:linear-gradient(to right, rgb(229, 236, 250) , rgb(8, 39, 107));

color: white;
}
.title{
justify-content: center;
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}
.title p{
margin-bottom: 0.2rem;
font-size: 1.2rem;
}

.card{

/*margin: 1.5rem 4vw;*/
border-radius: 1rem;
background-color: rgba(238, 237, 237, 0.22);
border-color: rgba(238, 237, 237, 0.22);
box-shadow: 5px 6px 6px 2px #e9ecef;
text-align: left;
width:800px;
margin-top: 50px;
margin-left: 250px;
}
.card-text{
margin-left: 10px;
}
.icon{
align-self: flex-end;
margin-right: -2.5rem;
margin-top: -2rem;
z-index: 999;
}
.icon img{
width: 5rem;
}
.cards{
border-radius: 1rem;
/*background-color: rgba(238, 237, 237, 0.22);*/
border-color: rgba(238, 237, 237, 0.22);
box-shadow: 5px 6px 6px 2px #e9ecef;
text-align: left;
width:200px;
margin-top: 50px;
margin-left: 30px;
background-image: linear-gradient(to right, rgb(232, 238, 243) , rgb(204, 227, 241));
}
.row{
margin-left: 45px;
}

@media screen and (max-width:600px) {
.nav , .row , .card , .cards , .card-text , .navbar , .collapse {width:100%}
}